<br>
<div class="card" style="width: 20rem;" *ngFor="let s of books;index as i">
    <img src={{s.image}} class="card-img-top" alt="image">
    
    <div class="card-body">
      <h5 class="card-title">{{s.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{s.price | currency:'INR'}}</h6>
      <p class="card-text"><b>Category :</b> {{s.category}}</p>
      <p class="card-text"><b>Publisher :</b> {{s.publisher}}</p>
      <p class="card-text"><b>Published Date :</b> {{s.publishedDate | date:'d/M/yy'}}</p>
      <p class="card-text" (click)="openModal(s.content)" ><b>Content :</b> {{s.content | ellipsis}}</p>
    </div>
  </div>


  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Content</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{contentText}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
    </div>
</div>