<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DigiBooks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav justify-content-end">
          <a class="nav-link" routerLink="/login" href="#">Home</a> 
          <a class="nav-link" routerLink="/signup" href="#">Sign Up</a> 
          <a class="nav-link" routerLink="/addbook" href="#">Add Book</a>
          <a class="nav-link" routerLink="/showBook" href="#">Show Books</a>
          <a class="nav-link" routerLink="/searchBook" href="#">Search Book</a>
        </div>
      </div>
    </div>
  </nav>