.card {
    displaY: block;
    float: left;
    width: 50%;
    margin: auto;
    font-family: 'Calibri';
  }

  .card-img-top {
    width: 70%;
    height: 30%;
    /*half of width*/
    margin: auto;
    display: block;
    border-radius: 50px 50px 0 0;
  }