
<div class="card" style="width: 20rem;" *ngFor="let s of books;index as i">
    <img src={{s.image}} class="card-img-top" alt="image">
    <div class="card-body">
      <h5 class="card-title">{{s.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{s.price | currency:'INR'}}</h6>
      <p class="card-text"><b>Category :</b> {{s.category}}</p>
      <p class="card-text"><b>Content :</b> {{s.content}}</p>
      <p class="card-text"><b>Publisher :</b> {{s.publisher}}</p>
      <p class="btn btn-danger" (click)=deleteRow(s,i)>Delete</p>
    </div>
  </div>


<!--
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Publisher</th>
            <th scope="col">Price</th>
            <th scope="col">Content</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let s of books; index as i">
            <td>
                <span>{{s.id}}</span>
            </td>
            <td>
                <span>{{s.title}}</span>
            </td>
            <td>
                <span>{{s.category}}</span>
            </td>
            <td>
                <span>{{s.publisher}}</span>
            </td>
            <td>
                <span>{{s.price}}</span>
            </td>
            <td>
                <span>{{s.content}}</span>
            </td>
            <td>
                <span>{{s.image}}</span>
            </td>
        </tr>
    </tbody>

</table>
-->
