.logo { 
    width: 1300px;
    height: 300px;
    text-align:center;
  }
  
  .logo img {
    display:inline-block;
  } 

  h1 {text-align: center;}
  h3 {text-align: center;}
  p {text-align: center;}